

html{
  height: 100%;
  background-image: url("../resourses/a.jpg");
}

.document{
  position: relative;
  width:100%;
  display: flex;
  justify-content:center;
}
#msfoarm{
  width: 28 0px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#msfoarm .wrap{
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 40%;
  margin: 0 30%;
  position: absolute;

}
/*hide all except first ..wrap*/
#msfoarm .wrap:not(:first-of-type){
  display: none;
}
#msfoarm input{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;

}

#msfoarm .inputBd{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 80%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;

}

#msfoarm select{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 80%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;

}

#msfoarm .val_error{

  font-family: montserrat;
  color: #db112c;
  font-size: 13px;

}

#msfoarm .action-button{
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msfoarm .action-button:hover, #msfoarm .action-button:focus{
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.fs-title{
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle{
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.bar{
  width:100%;
  display: flex;
  justify-content:center;
}

#progressbar{
  margin-bottom: 30px;
  overflow: hidden;
  counter-reset: step;
  width: 100%;

}
#progressbar li{
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  font-size: 9px;
  width: 17.33%;
  float: left;
  position: relative;
}


#progressbar li:before{
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
#progressbar li:after{
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top:9px;
  z-index: -1;

}

#progressbar li:first-child:after{
  content: none;
}

#progressbar li.active:before{
  background: green;
  color: white;
}
#progressbar li.active:after{
  background: #27AE60;
  color: white;
}

